
@{
    Layout = null;
}

@{
    string[] random = new string[] { "test", "tester", "testimone" };
}
@using ASPDemo.Helpers;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Helpers.HtmlList(random)
        @Html.Image("/Files/aurora_borealis.png", "aurora borealis")
    </div>
</body>
</html>
