
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Purchase</title>
</head>
<body>
    <div>
        <h3>Purchase form</h3>
        <form method="post" action="">
            <input type="hidden" value="@ViewBag.GameId" name="GameId" />
            <table>
                <tr>
                    <td><p>Enter your name </p></td>
                    <td><input type="text" name="Person" /> </td>
                </tr>
                <tr>
                    <td><p>Enter address :</p></td>
                    <td>
                        <input type="text" name="Address" />
                    </td>
                </tr>
                <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>
